/* 
* Version: 1.8
* Default Color 	  : #72c02c;
* Default Hover Color : #5fb611;
*/
a {
    color: #72c02c;
}

a:focus, a:hover, a:active {
    color: #72c02c;
}

code {
    color: #72c02c;
}

/* Headers Default
------------------------------------*/
.header .navbar-nav > .active > a {
    color: #72c02c;
}

.header .navbar-nav > .active > a {
    border-color: #72c02c;
}

.header .dropdown-menu {
    border-top: solid 2px #72c02c;
}

.header .navbar-nav > li:hover > a {
    color: #72c02c;
}

.header .nav > li > .search:hover {
    border-bottom-color: #72c02c;
    color: #72c02c;
}

.header .navbar-nav > li > a:hover, .header .navbar-nav > .active > a {
    border-bottom-color: #72c02c;
}

.header .navbar-toggle {
    border-color: #72c02c;
}

.header .navbar-toggle, .header .navbar-toggle:hover, .header .navbar-toggle:focus {
    background: #72c02c;
}

.header .navbar-toggle:hover {
    background: #72c02c !important;
}

.header .navbar-nav > .open > a, .header .navbar-nav > .open > a:hover, .header .navbar-nav > .open > a:focus {
    color: #72c02c;
}

.header.header-dark .navbar-nav .dropdown > a:hover {
    color: #72c02c;
}

/* Design for max-width: 991px */
@media ( max-width: 991px) {
    .header .navbar-nav > .active > a, .header .navbar-nav > .active > a:hover, .header .navbar-nav > .active > a:focus {
        background: #72c02c;
        color: #fff !important;
    }

    .header .navbar-nav > .active > a {
        border-color: #eee;
    }

    .header .nav > li > .search:hover {
        background: #72c02c;
    }
}

/* Buttons
------------------------------------*/
.btn-u {
    background: #72c02c;
}

.btn-u:hover, .btn-u:focus, .btn-u:active, .btn-u.active, .open .dropdown-toggle.btn-u {
    background: #5fb611;
    color: #fff;
}

/* Buttons Color */
.btn-u-split.dropdown-toggle {
    border-left: solid 1px #5fb611;
}

/* Bordered Buttons */
.btn-u.btn-brd {
    border-color: #72c02c;
}

.btn-u.btn-brd:hover {
    background: none;
}

.btn-u.btn-brd.btn-brd-hover:hover {
    background: #5fb611;
}

i.style-switcher-btn:hover {
    background: #72c02c;
}

/* Footer
------------------------------------*/
.copyright a, .copyright a:hover {
    color: #72c02c;
}

/* Breadcrumb
------------------------------------*/
.breadcrumb li.active, .breadcrumb li a:hover {
    color: #72c02c;
}

/* Font Awesome Icon Page Style */
.fa-icons li:hover {
    color: #72c02c;
}

.fa-icons li:hover i {
    background: #72c02c;
}

/* Breadcrumbs
------------------------------------*/
span.label-u, span.badge-u, .list-group-item.active > .badge.badge-u {
    background: #72c02c;
}

/* Icons Background Color
------------------------------------*/
i.icon-color-u {
    color: #72c02c;
    border: solid 1px #72c02c;
}

i.icon-bg-u {
    background: #72c02c;
}

.link-icon:hover i {
    color: #72c02c;
    background: none;
    border: solid 1px #72c02c;
}

.link-bg-icon:hover i {
    color: #72c02c;
    background: #72c02c;
    border-color: #72c02c;
}

.text-highlights-green {
    background: #72c02c;
}

.text-border-green {
    border-color: #72c02c;
}

blockquote:hover, blockquote.text-right:hover {
    border-color: #72c02c;
}

blockquote.bq-green {
    border-color: #72c02c;
}

/*Panel Unify*/
.panel-u {
    border-color: #72c02c;
}

.panel-u > .panel-heading {
    background: #72c02c;
}

/*progress-bar (colors)*/
.progress-bar-u {
    background: #72c02c;
}

/*Count Stars
------------------------------------*/
.stars-existing {
    color: #72c02c;
}

/*Background Colors
------------------------------------*/
.bg-color-primary {
    background-color: #72c02c !important;
}

.rgba-default {
    background-color: rgba(114, 192, 44, 0.8);
}

/* Top Control
------------------------------------*/
#topControl:hover {
    background: #72c02c;
}

/* Cube Portfolio
------------------------------------*/
.cube-portfolio .cbp-l-filters-text .cbp-filter-item.cbp-filter-item-active,
.cube-portfolio .cbp-l-filters-text .cbp-filter-item:hover {
    color: #72c02c;
}

.cube-portfolio .cbp-l-filters-text .cbp-filter-counter {
    background: #72c02c;
}

.cube-portfolio .cbp-l-filters-text .cbp-filter-counter:before {
    border-top-color: #72c02c;
}

.cube-portfolio .link-captions li i:hover {
    color: #fff;
    background: #72c02c;
}

/*Green Transparent*/
.cube-portfolio .cbp-caption-activeWrap.default-transparent-hover {
    background: rgba(114, 192, 44, .9) !important;
}

/* Heading */
.headline h2, .headline h3, .headline h4 {
    border-bottom: 2px solid #72c02c;
}

.headline-center h2:after {
    background: #72c02c;
}

.headline-left .headline-brd:after {
    background: #72c02c;
}

/* Progress Bar
------------------------------------*/
.progress-bar-u {
    background: #72c02c;
}

/* Timeline Page
------------------------------------*/
/* The icons */
.timeline > li .cbp_tmicon {
    background: #72c02c;
}

/* Service
------------------------------------*/
.service .service-icon {
    color: #72c02c;
}

/* Panel
------------------------------------*/
.panel {
    border-color: #72c02c;
}

.panel > .panel-heading {
    background: #72c02c;
}